@model IEnumerable<Student>
@{
    ViewData["Title"] = "Students";
}

<h1>Students page</h1>

<div>
    <h5>
        <a class="nav-link text-dark" asp-controller="Student" asp-action="AddStudent">Add student</a>
    </h5>
</div>

<div>
    <h5>All Students: </h5>

    <form asp-controller="Student" asp-action="StudentIndex">
        <p>
            <input type="text" name="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>

    @foreach (var student in Model)
    {
            <div>
                <p>First Name: @student.FirstName</p>
                <p>LastName: @student.LastName</p>

               <form asp-controller="Student" asp-action="DeleteStudent" asp-route-id="@student.Id"  method="post">
                    <a asp-controller="Student" asp-action="StudentDetails" asp-route-id="@student.Id"
                    class="btn btn-primary m-1">See more...</a>

                    <a asp-controller="Student" asp-action="EditStudent" asp-route-id="@student.Id"
                    class="btn btn-primary m-1">Edit</a>

                    <button class="btn btn-danger m-1" type="submit">Delete</button>
               </form>
                <hr></hr>
            </div>
    }
</div>
