@model IEnumerable<Student>
@{
    ViewData["Title"] = "Students";
}

<h1>Students page</h1>

<div>
    <h5>
        <a class="nav-link text-dark" asp-controller="Student" asp-action="AddStudent">Add student</a>
    </h5>
</div>

<div>
    <h5>All Students: </h5>
    @foreach (var student in Model)
    {
            <div>
                <p>First Name: @student.FirstName</p>
                <p>LastName: @student.LastName</p>
                <p>Group number: @student.<p/>

               <form asp-controller="Student" asp-action="DeleteStudent" asp-route-id="@student.Id"  method="post">
                    <a asp-controller="Group" asp-action="GroupDetails" asp-route-id="@student.Id"
                    class="btn btn-primary m-1">See more...</a>

                    <button class="btn btn-danger m-1" type="submit">Delete</button>
               </form>
                <hr></hr>
            </div>
    }
</div>
