@model GroupDetailsViewModel
@{
    ViewData["Title"] = "Group Details";
}

<h3>Group N: @Model.Number</h3>

<h5>Group Name: @Model.Name</h5>

<h3>Group Lecturers: </h3>
@if (Model.Lecturers is not null)
{
    foreach (var lecturer in Model.Lecturers)
    {
        <p>@lecturer.FirstName</p>
        <p>@lecturer.LastName</p>

        <form asp-controller="Group" asp-action="RemoveLecturer" method="post">
            <input hidden asp-for="GroupId" />
            <input hidden asp-for="LecturerId" value="@lecturer.Id" />
            <div class="m-3">
                <button type="submit">Remove Lecturer</button>
            </div>
        </form>
        <hr/>
    }
}
else
{
    <h5>No lecturers assigned</h5>
}

<h3>Group Students: </h3>
@if (Model.Students is not null)
{
    foreach (var student in Model.Students)
    {
        <p>@student.FirstName</p>
        <p>@student.LastName</p>

        <form asp-controller="Group" asp-action="RemoveStudent" method="post">
            <input hidden asp-for="GroupId" />
            <input hidden asp-for="StudentId" value="@student.Id"/>
            <div class="m-3">
                <button type="submit">Remove Student</button>
            </div>
        </form>
        <hr />
    }
}
else
{
    <h5>No Students</h5>
}

<div>
    <h4>
        <a asp-action="GroupIndex" asp-controller="Group">Go back</a>
    </h4>
</div>
