@model LecturerDetailsViewModel
@{
    ViewData["Title"] = "Lecturer Details";
}

<h3>Lecturer Info: </h3>

<p>First name: @Model.FirstName</p>
<p>Last name: @Model.LastName</p>
<p>Personal N: @Model.PersonalNumber</p>
<p>Email: @Model.Email</p>
<p>Date of birth: @Model.DateOfBirth</p>

<div>
    <h4>
        <a asp-action="LecturerIndex" asp-controller="Lecturer">Go back</a>
    </h4>
</div>

